@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: whitesmoke;
    font-family: "Playwrite AU SA", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container{
    width: 100%;
    height: 100%;
    background-image: url(./tekstura__texture__tlo__grafika_136_ciemne__czarne__drewno__swiatla.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container img{
    width: 100%;
    height: 100%;
}

.background{
    width: 1600px;
    height: 800px;
    background-color: gray;
    margin-left: 160px;
    margin-top: 80px;
    border-radius: 7px;
    position: absolute;
}

.main-title{
    width: 470px;
    height: 100px;
    position: absolute;
    background-color: darkgray;
    margin-left: 730px;
    margin-top: 25px;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
}

.main-title h1{
    color: black;
    width: 100%;
    font-size: 1.8em;
}

.logo{
    margin-left: 160px;
    margin-top: 80px;
    position: absolute;
}

.logo img{
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.text1{
    width: 1250px;
    height: 50px;
    position: absolute;
    margin-left: 400px;
    margin-top: 180px;
}

.text1 p{
    color: black;
    font-size: 1.3em;
}

.text2{
    width: 1250px;
    height: 50px;
    position: absolute;
    margin-left: 400px;
    margin-top: 320px;
}

.text2 p{
    color: black;
    font-size: 1.3em;
}

.text3{
    width: 1250px;
    height: 50px;
    position: absolute;
    margin-left: 400px;
    margin-top: 470px;
}

.text3 p{
    color: black;
    font-size: 1.3em;
}

.text4{
    width: 1250px;
    height: 50px;
    position: absolute;
    margin-left: 400px;
    margin-top: 620px;
}

.text4 p{
    color: black;
    font-size: 1.3em;
}
